footer.footer
	.footer__top
		.container
			.footer__block.footer__block_logo
				a(href="#").footer__logo
					img(src="img/logo.svg" alt="Logo")
				p.
					As allocations of investors grow, alternative investments play an increasingly critical role in portfolios. Audacis Advisors is a boutique investment firm specialized in alternative investment. We strive to bring to high-net-worth individuals, family offices, placement agents, private bankers, wealth advisors, best-in-class ideas for the portfolio of their clients. 
			.footer__block.footer__block_office
				h3 Office
				b London office:
				p 9 Bolton Gardens, SW5 0DG, London
			.footer__block
				h3 Contact us
				a(href="mailto:Contact@audacisadvisors.com").footer__email
					img(src="img/footer-image/message.svg" alt="Svg")
					span Contact@audacisadvisors.com
			.footer__block
				h3 Socials
				p Stay alert to the latest investment trends
				a(href="https://tr.linkedin.com/company/audacis-advisors").linkedin
					img(src="img/footer-image/linkedin.svg" alt="linkedin")
	.footer__bottom
		.container.
			© 2021. Audacis Advisors. All rights reserved

<!-- wow JS -->
script(src="js/wow.min.js")

<!-- main JS -->
script(src="js/main.js")































	