footer.footer.footer-main
	.footer__top
		.container
			b London | Dubai | Moscow | Paris
			p Please, send enquiries to 
				a(href="#") contact@audacisadvisors.com
	.footer__bottom © 2021. Audacis Advisors. All rights reserved

<!-- wow JS -->
script(src="js/wow.min.js")

<!-- main JS -->
script(src="js/main.js")































	