extends includes/header.pug

block content

	section.where
		.container
			.where__sides.sides
				.sides__lft
					h1.wow.fadeInDown Where investors meet yield
					p.wow.fadeInDown(data-wow-delay=".1s").
						We understand that more and more investors are shifting to alternative investments in order to boost returns, generate regular income, and provide diversification from traditional investments. Every client and every transaction is unique, and we are committed to delivering tailored advice in every situation.
					a(href="#counts-id" data-wow-delay=".2s").wow.fadeInDown.aa-button Read More Below
				.sides__rht.wow.fadeInRight.parallaxBlock
					.image-item.image-loupe(data-speed="90" data-direction="-1")
						img(src="img/where-image/loupe.svg" alt="Loupe")
					.image-item.image-message1(data-speed="60" data-direction="1")
						img(src="img/where-image/message1.svg" alt="message1")
					.image-item.image-message2(data-speed="30" data-direction="-1")
						img(src="img/where-image/message2.svg" alt="Loupe")
					.image-item.image-gear1(data-speed="30" data-direction="-1")
						img(src="img/where-image/gear1.svg" alt="Loupe")
					.image-item.image-gear2(data-speed="1" data-direction="1")
						img(src="img/where-image/gear2.svg" alt="Loupe")
					.image-item.image-graphics(data-speed="1" data-direction="-1")
						img(src="img/where-image/graphics.svg" alt="Loupe")
					.image-item.image-plant1(data-speed="0" data-direction="1")
						img(src="img/where-image/plant1.svg" alt="Loupe")
					.image-item.image-plant2(data-speed="0" data-direction="1")
						img(src="img/where-image/plant2.svg" alt="Loupe")
					.image-item.image-main-form1(data-speed="60" data-direction="-1")
						img(src="img/where-image/main-form1.svg" alt="Loupe")
					.image-item.image-main-form2(data-speed="10" data-direction="1")
						img(src="img/where-image/main-form2.svg" alt="Loupe")
					.image-item.image-bgd(data-speed="0" data-direction="1")
						img(src="img/where-image/bgd.svg" alt="Loupe")
					.image-item.image-line(data-speed="0" data-direction="1")
						img(src="img/where-image/line.svg" alt="Loupe")

	section.blockquotes
		h2 1
		.container
			.quotes.quotes_1.wow.flipInX
				img(src="img/blockquotes-image/quotes1.svg" alt="quotes")
			.text.wow.fadeIn
				p The world of ﬁnance is complex and intricate. 
				p Get a team who are able to help you navigate any situation
			.quotes.quotes_2.wow.flipInX
				img(src="img/blockquotes-image/quotes2.svg" alt="quotes")

	section.counts#counts-id
		.container
			.counts__block
				.counts__item.wow.fadeInLeft
					h3 550+
					p Individuals and institutional investors
					.item__image
						.image-item.image-fr-dir.wow.fadeInDown
							img(src="img/counts-image/fr-dir.svg" alt="Svg")
						.image-item.image-fr-phone.wow.fadeInDown(data-wow-delay=".2s")
							img(src="img/counts-image/fr-phone.svg" alt="Svg")
						.image-item.image-fr-bottom.wow.fadeIn
							img(src="img/counts-image/fr-bottom.svg" alt="Svg")
						.image-item.image-fr-gares.wow.fadeInUp
							img(src="img/counts-image/fr-gares.svg" alt="Svg")
				.counts__item.wow.fadeInDown
					.item__text
						h3 ~30
						p Opportunities are reviewed every year
					.item__image
						.image-item.image-sec-main.wow.fadeIn
							img(src="img/counts-image/sec-main.svg" alt="Svg")
						.image-item.image-sec-circle.wow.fadeInDown
							img(src="img/counts-image/sec-circle.svg" alt="Svg")
				.counts__item.wow.fadeInUp
					.item__text
						h3 68%
						p Of our customers have been recommended by existing customers
					.item__image
						.image-item.image-thr-main.wow.fadeIn
							img(src="img/counts-image/thr-main.svg" alt="Svg")
						.image-item.image-thr-circle.wow.fadeInDown
							img(src="img/counts-image/thr-circle.svg" alt="Svg")

	section.process
		.container
			h2 Work process
			.process__block
				.process__item
					.item__ico
						.ico__circle.wow.fadeInDown
						img(src="img/process-image/process-item1.svg" alt="Photo").wow.fadeIn(data-wow-delay=".3s")
					h3.wow.fadeInDown(data-wow-delay=".1s") We identify opportunities
					p.wow.fadeInDown(data-wow-delay=".2s") We source, identify and analyse over 60 investment opportunities each year. After a careful due diligence, we select only 4 to 5 investment opportunities per year - the ones which will provide the best beneﬁts to our clients.
				.process__item
					.item__ico
						.ico__circle.wow.fadeInDown
						img(src="img/process-image/process-item2.svg" alt="Photo").wow.fadeIn(data-wow-delay=".3s")
					h3.wow.fadeInDown(data-wow-delay=".1s") We oﬀer quarterly updates
					p.wow.fadeInDown(data-wow-delay=".2s") We provide a quarterly letter which is sent to a list of qualiﬁed investors, so that they can select which opportunity ﬁts their needs and objectives the best.
				.process__item
					.item__ico
						.ico__circle.wow.fadeInDown
						img(src="img/process-image/process-item3.svg" alt="Photo").wow.fadeIn(data-wow-delay=".3s")
					h3.wow.fadeInDown(data-wow-delay=".1s") We provide ﬁnancial education
					p.wow.fadeInDown(data-wow-delay=".2s") Each investor is entitled to a 30-minute free educational session to teach them about diﬀerent types of instruments, their beneﬁts, and their limits.
				.process__item
					.item__ico
						.ico__circle.wow.fadeInDown
						img(src="img/process-image/process-item4.svg" alt="Photo").wow.fadeIn(data-wow-delay=".3s")
					h3.wow.fadeInDown(data-wow-delay=".1s") We arrange the administrative work
					p.wow.fadeInDown(data-wow-delay=".2s") Our back-oﬃce team will take care of the administrative work in order to facilitate investors’ investment processes.

	section.kind
		.container
			.sides
				.sides__lft
					h2.wow.fadeInDown What kind of investments do we offer?
					p.wow.fadeInDown Alternative assets typically refer to investments that fall outside of the traditional asset classes commonly accessed by most investors, such as stocks, bonds, or cash investments.
					p.wow.fadeInDown Among them
					ul
						li.wow.fadeInDown(data-wow-delay=".1s") Private equity
						li.wow.fadeInDown(data-wow-delay=".2s") Private credit / private debt
						li.wow.fadeInDown(data-wow-delay=".3s") Private real estate
						li.wow.fadeInDown(data-wow-delay=".4s") Passion investment (art, wine, collectibles)
				.sides__rht.wow.fadeInRight.parallaxBlock
					.image-item.image-bgd(data-speed="0" data-direction="-1")
						img(src="img/kind-image/img-bgd.svg" alt="Svg")
					.image-item.image-hand-lft(data-speed="40" data-direction="1")
						img(src="img/kind-image/img-hand-lft.svg" alt="Svg")
					.image-item.image-hand-rht(data-speed="80" data-direction="1")
						img(src="img/kind-image/img-hand-rht.svg" alt="Svg")
					.image-item.image-coins(data-speed="3" data-direction="-1")
						img(src="img/kind-image/img-coins.svg" alt="Svg")
					.image-item.image-points(data-speed="70" data-direction="-1")
						img(src="img/kind-image/img-points.svg" alt="Svg")

	section.opportunities
		.container
			h2.wow.fadeInDown How do we select opportunities?
			p.wow.fadeInDown Our primary objective  when performing a due diligence is to  answer four basic questions:
			.opportunities__block
				.opportunities__item.wow.fadeInDown What are the expected investment return characteristics?
				.opportunities__item.wow.fadeInDown Are the investment managers skilled at doing their job?
				.opportunities__item.wow.fadeInDown What is the investment risk profile?
				.opportunities__item.wow.fadeInDown Do we believe the transaction is fair to both parties?

			.opportunities__ol
				.ol__bgd
					<svg class="line2" width="2" height="1089" viewBox="0 0 2 1089" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="1" y1="4.37114e-08" x2="0.999952" y2="1089" stroke="#00ABFF" stroke-width="2" stroke-dasharray="2 2"/></svg>
					<svg width="544" height="725" viewBox="0 0 544 725" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 66.9398V674C1 701.614 23.3858 724 51 724H417.497C445.112 724 467.498 701.614 467.498 674V38.7512C467.498 17.9018 484.399 1 505.249 1V1C526.098 1 543 17.9018 543 38.7512V609.424" stroke="#00ABFF" stroke-width="2" stroke-dasharray="6 6" /></svg>
				ol
					li
						.li__text
							h3 Initial screening
							p The initial screening consists of identifying  investment opportunities which are aligned  with our investors' expectations and  preferences.
					li
						.li__text
							h3 Investment analysis
							p This means comparing the yield with the  market, assessing how this particular  investment is better or worse than others and  how worthy it is to invest in.
					li
						.li__text
							h3 Portfolio intelligence
							p We will answer the question of how this  investment opportunity can be a fit to  investors' portfolios and what it brings to  investors' asset allocations.
					li
						.li__text
							h3 General analysis
							p We will confirm basic facts, such as period of existence, organizational and legal forms, legal address, paid-up capital, and so on.
					li
						.li__text
							h3 External credit rating
							p Credit rating reliability is set by rating  agencies, evaluating  a variety of factors. When available, we will review the credit rating.
				ol
					li
						.li__text
							h3 Risk mitigation policy
							p We will assess how the investment opportunity is  protecting investors' interests. We will identify  factors at risks and how the company is mitigating  these risks, and we will assess different scenarios  under which the investment may reach its  objective
					li
						.li__text
							h3 Financial analysis
							p We will review the financial analysis performed by  auditors.
					li
						.li__text
							h3 Legal opinion
							p Whenever necessary, we will request a legal  opinion from a law firm. A law firm may, for  example, examine the structure of the investment  and issue a legal opinion that describes whether  the transaction is legally structured, and which  types of investors may purchase it.
					li
						.li__text
							h3 Meeting with ﬁrm management
							p We will organize a face-to-face / online meeting  with the firm‘s management.
					li
						.li__text
							h3 Periodical monitoring
							p We will constantly be monitoring the investment  offer through news, reports and market ratios and  return expectations. Whenever necessary,  rebalancing may be suggested.

	section.invest
		.container
			h2.wow.fadeInDown How can you invest in fixed income instruments?
			.invest__block
				.invest__item
					.item__sides
						.item__lft
							h3.wow.fadeInDown Direct Investment
							ul
								li.wow.fadeInDown Purchased directly by any bank and broker through an ISIN code
								li.wow.fadeInDown Minimum investment is 100,000 EUR or 125,000 USD
								li.wow.fadeInDown The financial instrument appears on client’s brokerage account on the platform 
								li.wow.fadeInDown We prepare the instruction, including the contract of the broker for you
						.item__rht.parallaxBlock.wow.fadeIn
							.image-item.invest-frst-arrow(data-speed="10" data-direction="1")
								img(src="img/invest-image/invest-frst-arrow.svg" alt="Svg")
							.image-item.invest-frst-bgd(data-speed="0" data-direction="1")
								img(src="img/invest-image/invest-frst-bgd.svg" alt="Svg")
							.image-item.invest-frst-line(data-speed="0" data-direction="1")
								img(src="img/invest-image/invest-frst-line.svg" alt="Svg")
							.image-item.invest-frst-money(data-speed="30" data-direction="-1")
								img(src="img/invest-image/invest-frst-money.svg" alt="Svg")
							.image-item.invest-frst-phone(data-speed="70" data-direction="1")
								img(src="img/invest-image/invest-frst-phone.svg" alt="Svg")
							.image-item.invest-frst-points(data-speed="10" data-direction="1")
								img(src="img/invest-image/invest-frst-points.svg" alt="Svg")
				.invest__item
					.item__sides
						.item__lft
							h3.wow.fadeInDown Investment Platform
							ul
								li.wow.fadeInDown PurcPurchased through an investment platform
								li.wow.fadeInDown The money is wired to the platform
								li.wow.fadeInDown The financial instrument appears on client’s brokerage account on the platform 
								li.wow.fadeInDown We prepare all documents needed to be abple to open an account through a platform
						.item__rht.parallaxBlock.wow.fadeIn
							.image-item.invest-sec-bgd(data-speed="0" data-direction="1")
								img(src="img/invest-image/invest-sec-bgd.svg" alt="Svg")
							.image-item.invest-sec-line(data-speed="0" data-direction="1")
								img(src="img/invest-image/invest-sec-line.svg" alt="Svg")
							.image-item.invest-sec-main(data-speed="40" data-direction="1")
								img(src="img/invest-image/invest-sec-main.svg" alt="Svg")
							.image-item.invest-sec-money(data-speed="10" data-direction="-1")
								img(src="img/invest-image/invest-sec-money.svg" alt="Svg")
				.invest__item
					.item__sides
						.item__lft
							h3.wow.fadeInDown Direct Subscription
							ul
								li.wow.fadeInDown The money is wired to the bank account of the issuer
								li.wow.fadeInDown We prepare all the required documents
						.item__rht.parallaxBlock.wow.fadeIn
							.image-item.invest-thrd-bgd(data-speed="0" data-direction="1")
								img(src="img/invest-image/invest-thrd-bgd.svg" alt="Svg")
							.image-item.invest-thrd-device(data-speed="80" data-direction="1")
								img(src="img/invest-image/invest-thrd-device.svg" alt="Svg")
							.image-item.invest-thrd-graphics(data-speed="80" data-direction="1")
								img(src="img/invest-image/invest-thrd-graphics.svg" alt="Svg")
							.image-item.invest-thrd-line(data-speed="0" data-direction="1")
								img(src="img/invest-image/invest-thrd-line.svg" alt="Svg")
							.image-item.invest-thrd-money(data-speed="0" data-direction="-1")
								img(src="img/invest-image/invest-thrd-money.svg" alt="Svg")
							.image-item.invest-thrd-plants(data-speed="40" data-direction="-1")
								img(src="img/invest-image/invest-thrd-plants.svg" alt="Svg")
							.image-item.invest-thrd-points(data-speed="1" data-direction="-1")
								img(src="img/invest-image/invest-thrd-points.svg" alt="Svg")

	section.contact
		h2 1
		.container
			.contact__block
				p Do you want to find yield in a low yield environment?
				button(data-popup="contact").aa-button Contact us

	.popup.popup-contact
		.popup__bgd
		.popup__content
			.popup__close
				<svg viewbox="0 0 40 40"><path stroke="#000" stroke-width="5" stroke-linecap="round" d="M 10,10 L 30,30 M 30,10 L 10,30" /></svg>
			h3 Send an email
			form(action="#")
				input(type="text" placeholder="Your name")
				textarea(placeholder="Text your message")
				input(type="submit").aa-button



	include includes/footer.pug



























	