extends includes/header-main.pug

block content

	section.banner
		.banner__slider
			.slider__dots
			.slider__item.wow(data-wow-duration=".3s")
				.item__photo
					img(src="img/main-page/banner1.jpg" alt="Photo")
				.item__text.wow.fadeIn
					h2.h1 Audacis Advisors Capital Raising Made Easier
			//- .slider__item.wow(data-wow-duration=".3s")
				.item__photo
					img(src="img/main-page/companies3.jpg" alt="Photo")
				.item__text.wow.fadeIn
					h2.h1 Audacis Advisors Capital Raising Made Easier2
			//- .slider__item.wow(data-wow-duration=".3s")
				.item__photo
					img(src="img/main-page/companies1.jpg" alt="Photo")
				.item__text.wow.fadeIn
					h2.h1 Audacis Advisors Capital Raising Made Easier3
			.banner__bottom
				span Learn More
				img(src="img/main-page/arrBottom.svg" alt="Bottom")

	section.main-quotes.wow.fadeInDown
		h2 1
		.container
			p Audacis Advisors is a financial group established in 2013. The Group provides solutions to those seeking to raise capital and enhance their investment potential.

	section.companies
		.container
			h2.wow.fadeInDown Companies within the Group
			.companies__block
				.companies__item.wow.fadeInDown
					.item__photo
						img(src="img/main-page/companies1.jpg" alt="Photo")
					.item__text
						h3 Investae
						p A fintech that offers licensed solution for investment firms, bond issuers, alternative investment funds, private banks, investment banks to make capital raising easier.
						button Find out more
				.companies__item.wow.fadeInDown
					.item__photo
						img(src="img/main-page/companies2.jpg" alt="Photo")
					.item__text
						h3 Startemis
						p An independant boutique art consultancy services for investors and professional investors looking to diversify their investment portfolio into art.
						button Find out more
				.companies__item.wow.fadeInDown
					.item__photo
						img(src="img/main-page/companies3.jpg" alt="Photo")
					.item__text
						h3 Edufineo
						p An innovative educational company providing financial education for young children, who want to learn how to manage their money and how to invest with flair.
						button Find out more

	include includes/footer-main.pug



























	